body {
    background: #fcfcfc;
    font-size: 1.1rem;
    margin: 32px;
}

.container {
    padding-bottom: 64px;
}

.action-button {
    margin: 8px !important;
}

fieldset {
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 24px auto;
}

fieldset legend {
    color: #888888;
    font-weight: bold;
    padding: 4px;
}

/* input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* override semantic ui */
.ui.input.error > input {
    border-color: #ff0000 !important;
}

/* .ui.input > input {
    padding-left: 4px !important;
    padding-right: 4px !important;
} */

.ui.form .fields {
    margin: 2px !important;
}


/* table editor */
.table-editor tr td {
    margin: 2px !important;
    padding: 4px !important;
    padding-left: 8px !important;
    white-space: pre-wrap !important;
}


.table-editor .table-editor-input input,
.table-editor textarea.table-editor-input
 {
    flex: none !important;
    padding: 6px  8px !important;
}

.table-editor-input-error {
    border-color: #ff0000 !important;
}


/* Date picker */
.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}
